table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 70%;
}

td {
  border: 1px solid #ddd;
  text-align: left;
  padding: 8px;
}

tr {
  background-color: blue;
}

tr:nth-child(even) {
  background-color: #d4b609;
}
